<p>Essay for the City of Los Angeles Fellowship 2008 catalogue<br>
        by Rosanna 
        Albertini</p>
      <p class="style2">Erin Cosgrove is a calligraphy queen, a mediaeval scribe of 
        contemporary disagreement about almost everything: religions, wars, 
        global warming, social games, evolution, borders, political regimes, 
        and family life. "Medieval means that life and place and the crops you 
        plant and your wife and children, all are uncertain." Gertrude Stein, 
        1943. And now in 2007 we are still like that, with wars and terrorism 
        and hurricanes and droughts and epidemics and bankruptcy heaped on our 
        road. Cosgrove is a hunter of meanings. From the cold winters in Saint 
        Paul, Minnesota she learned flatness and silence. Late in the night, a 
        wolf waited for her outside the art school's door. Half frozen after 
        standing for hours in front of the Federal Building protesting against 
        the first Gulf War, she finally fainted into a big basket of candies 
        at the nearby shopping center. She learned from Samuel Beckett that 
        silence could be told if the voice springs from inside, and stops two 
        steps from the feet.</p>
      <p class="style2"> She practices calligraphy as an art of living through time and space 
        free from chronology, conventional cages, and high and low. In words 
        and images her calligraphic characters are the faces of Darwin, 
        Diogenes, Jesus, Trotsky, Karl Rove, Dick Cheney, Andreas Baader and 
        of everyone else, including faces that are real, imagined, forgotten 
        or effaced from history.  No shadows on the ground. People only 
        remember symbols and play with them to the exhaustion of meaning. In 
        Cosgrove's mind, and in her art, stories melt into romance, drawings, 
        tapestry, and animated films.
        Cosgrove is a conceptual artist who tears into shreds any 
        scholasticism. Like Ockham's razor separating faith from reason, she 
        stages a sarcastic comedy of contemporary life in which survival is 
        possible on one condition: that we step outside our belief systems. 
        The ones who believe do not see what's around them, if they see at 
        all. Instead Cosgrove believes in looking, and earnestly says what she 
        sees, looking at the immense variety of artifacts whose logo could be: 
        Human Made. So much the better, we won't call it "culture". The more 
        impersonal signs and images became, the more popular and down to 
        earth, the better they function: an infinite number of alphabetic 
        letters morphing themselves through ages and habits. But, as in any 
        language, there is no exit: that's why, maybe, Cosgrove's art displays 
        an encyclopedic style meticulously detailed; every symbol, every quote 
        leads to a meaning and to a didactic explanation, which does not mean 
        that the story is reasonable or reliable. It is what it is, not 
        something to remember or to forget. It's romance. A heart lies beneath.</p>
      <p class="style2"> This art without moralism, dryly unsentimental, bloody sharp in our 
        face burns any possible bad faith away. History is not past; it is a 
        large body of insanity from which, by a miracle, we still emerge as 
        living beings. For her COLA exhibition Cosgrove extends her hybrid 
        language on a sixty-foot scroll that displays the epic pilgrimage of 
        two faithful souls in a lost world. Their journey is reported in 
        images and in a computer language--Leet, used in chat rooms, or by 
        hackers, where letters are replaced by numbers and symbols and words 
        are misspelled-echoing and inverting the use of Latin in mediaeval 
        times. The scroll is accompanied by a didactic video interpreting and 
        misinterpreting a delicately embroidered, violent iconography that 
        asks of us all: What Manner of person Art Thou?</p>
      <p class="style2">&nbsp;</p>
      <p class="style2">&nbsp;</p>
